// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-background-color: #0d004d;
	--ion-background-color-rgb: 13,0,77;

	--ion-text-color: #c6c3c3;
	--ion-text-color-rgb: 198,195,195;

	--ion-text-color-step-50: #bdb9bd;
	--ion-text-color-step-100: #b4b0b7;
	--ion-text-color-step-150: #aaa6b1;
	--ion-text-color-step-200: #a19cab;
	--ion-text-color-step-250: #9892a6;
	--ion-text-color-step-300: #8f89a0;
	--ion-text-color-step-350: #857f9a;
	--ion-text-color-step-400: #7c7594;
	--ion-text-color-step-450: #736b8e;
	--ion-text-color-step-500: #6a6288;
	--ion-text-color-step-550: #605882;
	--ion-text-color-step-600: #574e7c;
	--ion-text-color-step-650: #4e4476;
	--ion-text-color-step-700: #453b70;
	--ion-text-color-step-750: #3b316b;
	--ion-text-color-step-800: #322765;
	--ion-text-color-step-850: #291d5f;
	--ion-text-color-step-900: #201359;
	--ion-text-color-step-950: #160a53;

	--ion-background-color-step-50: #160a53;
	--ion-background-color-step-100: #201459;
	--ion-background-color-step-150: #291d5f;
	--ion-background-color-step-200: #322765;
	--ion-background-color-step-250: #3b316b;
	--ion-background-color-step-300: #453b70;
	--ion-background-color-step-350: #4e4476;
	--ion-background-color-step-400: #574e7c;
	--ion-background-color-step-450: #605882;
	--ion-background-color-step-500: #6a6288;
	--ion-background-color-step-550: #736b8e;
	--ion-background-color-step-600: #7c7594;
	--ion-background-color-step-650: #857f9a;
	--ion-background-color-step-700: #8f89a0;
	--ion-background-color-step-750: #9892a6;
	--ion-background-color-step-800: #a19cab;
	--ion-background-color-step-850: #aaa6b1;
	--ion-background-color-step-900: #b4b0b7;
	--ion-background-color-step-950: #bdb9bd;
}
