<swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
    
    @for (item of categorias; track $index) {

      <swiper-slide>
        <img src="{{item.imagen}}" />
        <br>
        
        <br>
        <ion-button routerLink="{{item.path}}" expand="block" shape="round" size="large">{{item.titulo}}</ion-button>
      
      </swiper-slide>

    }
    
    
  </swiper-container>
