
<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{folder()}} </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder() }}</ion-title> 
    </ion-toolbar>
  </ion-header>

  <section>
    <ion-grid>
      <ion-row>
        @for (item of productos(); track $index) { 
          <ion-col size="6" size-sm="3">
            <ion-card>
              <img style="background-color: aliceblue;" alt="Silhouette of mountains" src="{{item.imagen}}" />
              <ion-card-header>
                <ion-card-title>{{ item.nombre }}</ion-card-title>
                <ion-card-subtitle>{{ item.nombre }}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                {{ item.descripcion }}
              </ion-card-content>
              <a href="http://wa.me/573232279602?text=Quiero%20pedir%20un%20conector%20{{item.nombre}}..." target="_blank" rel="noopener noreferrer">
                <ion-button color="success">Pedir por Whatsapp</ion-button>
              </a>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
